@import "typography";

:root {
  --main-color-transparence: rgba(117, 183, 47, 0.66);
  --main-color: #75b72f;
  --main-grey: #2d2d2d;
  --light-grey-text: #b1b1b1;
  --light-grey: #fcfeff;
  --headline-font: "Poppins", Arial, Helvetica, sans-serif;
  --text-font: "Open Sans", Arial, Helvetica, sans-serif;
}

* {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--light-grey);
  color: var(--main-grey);
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.72rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::selection {
    background-color: var(--main-color-transparence);
  }
}

strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headline-font);
  font-weight: 600;

  &::selection {
    background-color: var(--main-color-transparence);
  }
}

a {
  color: var(--main-color);
  font-family: var(--headline-font);
  font-weight: 400;
  text-decoration: none;

  &::selection {
    background-color: var(--main-color-transparence);
  }

  &.white {
    color: #fff;
  }
}

p {
  font-family: var(--text-font);
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;

  &::selection {
    background-color: var(--main-color-transparence);
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  align-items: center;
  background: 0;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: var(--headline-font);
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  padding: 0;
  position: relative;
  transition: all 0.2s ease-in-out;

  &::before {
    background: var(--main-color);
    border-radius: 4px;
    bottom: -3px;
    content: "";
    display: block;
    left: -6px;
    position: absolute;
    top: -3px;
    right: -6px;
    opacity: 0;
    transform: scale(0.7);
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 1;
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: translateY(0) scale(1);
      visibility: visible;
    }
  }

  span {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 2;

    svg {
      margin-left: 8px;
    }
  }
}

.home {
  @media screen and (max-width: 960px) {
    height: auto;
    width: 100%;
  }

  display: flex;
  flex-wrap: wrap;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  top: 50%;
  left: 50%;
  width: 850px;
  z-index: 2;
}

.legal {
  bottom: env(safe-area-inset-bottom);
  bottom: 0;
  color: var(--light-grey-text);
  font-size: 0.75rem;
  height: 35px;
  padding: 9px 6px;
  position: absolute;
  text-align: center;
  width: 100%;

  a {
    color: var(--light-grey-text);
  }
}

.container {
  height: 100vh;
  width: 100%;

  &--page {
    margin: 75px auto;
    max-width: 1080px;
    padding: 25px;
  }
}

nav {
  a {
    color: #fff;
    display: inline-block;
    position: relative;
    text-transform: uppercase;

    &:hover {
      &::before {
        opacity: 1;
        transform: translateY(0) scale(1);
        visibility: visible;
      }
    }

    &.active {
      &::before {
        opacity: 1;
        transform: translateY(0) scale(1);
        visibility: visible;
      }
    }

    &::before {
      background: var(--main-color);
      border-radius: 4px;
      bottom: -3px;
      content: "";
      display: block;
      left: -6px;
      position: absolute;
      top: -3px;
      right: -6px;
      opacity: 0;
      transform: scale(0.7);
      transition: all 0.2s ease-in-out;
      visibility: hidden;
      z-index: 1;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }
}
